body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #eacaca;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 10px;
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

ul li {
    margin: 0 8px;
}

li a {
    padding: 8px;
    text-decoration: none;
    color: #2c2c2c;
    font-weight: 700;
    font-size: 18px;
}

li:first-of-type a {
    background-color: gray;
    color: honeydew;
    border-radius: 3px;
}

li a:hover {
    text-decoration: underline;
}