html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    max-width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-color: #eacaca;
}

header {
    display: none;
}

img {
    width: 80%;
}

.bg-text h1:first-letter {
    text-decoration: underline;
}

nav {
    overflow: hidden;
    transition: all 0.4s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    background-color: rgba(20, 20, 20, 0.8);
    max-width: 100vw;
}

ul li {
    margin: 0 4px;
}

li a {
    padding: 8px;
    text-decoration: none;
    color: #2c2c2c;
    color: #eacaca;
    color: honeydew;
    font-weight: 700;
    font-size: 18px;
    outline: none;
    transition: all 0.4s;
}

li:first-of-type a {
    background-color: #171717;
    color: honeydew;
    border-radius: 3px;
}

li a:hover {
    text-decoration: underline;
}

#nav.fixed {
    position: fixed;
    top: 0;
    background-color: #171717;
    z-index: 1;
}

#nav.fixed ul {
    min-height: 40px;
}

#nav.fixed ul li a {
    font-size: 16px;
}

.main {
    margin-top: 100px;
    padding: 0 5vw 100px;
    font-size: 1.8rem;
    text-align: center;
    position: relative;
}

@media screen and (min-width: 1025px) {
    header {
        display: block;
    }

    .bg-image {
        /* The image used */
        background-image: url("../img/composited_mobile.png");

        /* Full height */
        height: 100vh;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bg-text {
        background-color: rgba(20, 20, 20, 0.8);
        /* Black w/opacity/see-through */
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
        width: initial;
        height: 100%;
        text-align: center;
        font-weight: 800;
        font-size: 1.6rem;
        padding: 0 10vw;
    }

    .bg-image {
        /* The image used */
        background-image: url("../img/composited.png");
    }
}